.left2 {
    margin-left :650px 
}
.left {
    margin-left :550px 
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
mat-grid-tile {
background: rgb(251, 252, 252);
height: 300px;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 97%;
height: 97%;
cursor: pointer;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
opacity: 0.7;
}

.container {
padding: 2px 16px;
}
.cost
{
position: absolute;
left:280px;
bottom:20px;
}
.pag
{
position: absolute;
right: 20px;
margin-bottom: 60px;
}
@media (max-width:760px) {
.title-panel
{
  font-size: 12px;
}
}