<app-header></app-header>
	<app-fanpage-background-area></app-fanpage-background-area>
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="advertisment-box">
										<h4 class="">advertisment</h4>
										<figure>
											<a href="#" title="Advertisment"><img src="assets/images/resources/ad-widget.jpg" alt=""></a>
										</figure>
									</div>
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="new-postbox">
										<figure>
											<img src={{this.pages.Avatar}} style="width: 70px; height: 70px;" alt="">
										</figure>
										<div class="newpst-input">
											<form method="post">
												<textarea rows="3" placeholder="Create A Tour" (click)=CreateTripDialog()></textarea>
												<div class="attachments">
													<ul>
														<li>
															<i class="fa fa-music"></i>
															<label class="fileContainer">
															</label>
														</li>
														<li>
															<i class="fa fa-image"></i>
															<label class="fileContainer">
															</label>
														</li>
														<li>
															<i class="fa fa-video-camera"></i>
															<label class="fileContainer">
															</label>
														</li>
														<li>
															<i class="fa fa-camera"></i>
															<label class="fileContainer">
															</label>
														</li>
													</ul>
												</div>
											</form>
										</div>
									</div>
								</div><!-- add post new box -->
									<mat-progress-bar *ngIf="this.play === true" mode="indeterminate"></mat-progress-bar>
									<mat-grid-list cols="2" rowHeight="{{this.lengthcount}}" style="height: 300px;">
										<mat-grid-tile *ngFor="let trip of tripList">
											<div class="card">
											<img src="{{trip.Image}}" alt="Avatar" style="width: 100%; height: 65%;" (click)="tripurl.getNavigation(trip.Id)" [routerLink]="['/trip-detail/:', trip.Id]">
											<div class="container">
											  <h4><b>{{trip.Name}}</b></h4> 
											</div>
											<span class="cost"><mat-icon>attach_money</mat-icon>{{trip.Cost}}</span> 
										  </div>
										</mat-grid-tile>
									  </mat-grid-list>
									<button *ngIf="(this.count) < (this.listcount)" class="btn-view btn-load-more" (click)="getTripListmore()"></button>
								<div *ngIf=" this.lengthcount == 0">
									<h2 style="text-align: center;">No tour has been created yet !</h2>
								</div>
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">									
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div style="background-image: url(assets/images/resources/baner-widgetbg.jpg)"
												class="bg-image"></div>
											<div class="baner-top">
												<span><img src="assets/images/book-icon.png" alt=""></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													create your own favourit page.
												</p>
												<span>like them all</span>
												<a [routerLink]="['/main/newpage']" title="" data-ripple="">start now!</a>
											</div>
										</div>
									</div>
									<app-right-sidebar-list-friend></app-right-sidebar-list-friend>	<!-- friends list sidebar -->
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<app-footer></app-footer>