<app-header></app-header>
<app-background-area></app-background-area>
<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
						</div><!-- sidebar -->
						<div class="col-lg-6">
							<div class="central-meta">
								<div class="messages">
									<h5 class="f-title"><i class="ti-bell"></i>All Messages <span
											class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
									<div class="message-box">

										<!-- START list of friends -->
										<ul class="peoples">
											<ng-template ngFor let-item [ngForOf]="friends" let-i="index">
												<li (click)="OnFriendListItemClicked(item.Id)">
													<figure>
														<img [src]="uriHandler.getImageUrl(item.avarThumb)" alt="">
														<span class="status f-online"></span>
													</figure>
													<div class="people-name">
														<span>{{item.Name}}</span>
													</div>
												</li>
											</ng-template>
											<!--
											<li>
												<figure>
													<img src="assets/images/resources/friend-avatar2.jpg" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="people-name">
													<span>user1</span>
												</div>
											</li>
											<li>

												<figure><img src="assets/images/resources/friend-avatar3.jpg" alt="">
													<span class="status f-away"></span>
												</figure>
												<div class="people-name">
													<span>user2</span>
												</div>
											</li>
											<li>

												<figure>
													<img src="assets/images/resources/friend-avatar.jpg" alt="">
													<span class="status f-online"></span>
												</figure>

												<div class="people-name">
													<span>user3</span>
												</div>
											</li>
											-->
										</ul>
										<!-- End list of friends -->

										<app-chat-area (submitCommentEvent)="submitMessage($event)" [messageUnits]="displayedContent">
										</app-chat-area>

									</div>
								</div>
							</div>
						</div><!-- centerl meta -->

						<!--
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
											<h4 class="widget-title">Socials</h4>
											<ul class="socials">
												<li class="facebook">
													<a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> <ins>45 likes</ins></a>
												</li>
												<li class="twitter">
													<a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span><ins>25 likes</ins></a>
												</li>
												<li class="google">
													<a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35 likes</ins></a>
												</li>
											</ul>
										</div>
									<div class="widget stick-widget">
										<h4 class="widget-title">Who's follownig</h4>
										<ul class="followers">
											<li>
												<figure><img src="assets/images/resources/friend-avatar2.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Kelly Bill</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar4.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Issabel</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar6.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Andrew</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar8.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Sophia</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar3.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Allen</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
										</ul>
									</div>
								</aside>
							</div> 
							-->

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>

<!--
<li>
													
	<figure><img src="assets/images/resources/friend-avatar4.jpg" alt="">
		<span class="status off-online"></span>
	</figure>
	<div class="people-name">
		<span>DDDDDDDDDDDDDDDDD</span>
	</div>
</li>
<li>
	
	<figure><img src="assets/images/resources/friend-avatar5.jpg" alt="">
		<span class="status f-online"></span>
	</figure>
	<div class="people-name">
		<span>EEEEEEEEEEEEEEEE</span>
	</div>
</li>
<li>
	
	<figure><img src="assets/images/resources/friend-avatar6.jpg" alt="">
		<span class="status f-away"></span>
	</figure>
	<div class="people-name">
		<span>FFFFFFFFFFFFFFF</span>
	</div>
</li>
<li>
	
	<figure><img src="assets/images/resources/friend-avatar7.jpg" alt="">
		<span class="status off-online"></span>
	</figure>
	<div class="people-name">
		<span>GGGGGGGGGGGGGGG</span>
	</div>
</li>
<li>
	
	<figure><img src="assets/images/resources/friend-avatar8.jpg" alt="">
		<span class="status f-online"></span>
	</figure>
	<div class="people-name">
		<span>HHHHHHHHHHHHHHH</span>
	</div>
</li>
<li>
	
	<figure><img src="assets/images/resources/friend-avatar6.jpg" alt="">
		<span class="status f-online"></span>
	</figure>
	<div class="people-name">
		<span>IIIIIIIIIIIIIIIIII</span>
	</div>
</li>
-->