<app-header></app-header>
	<section>
		<div class="page-header">
			<div class="header-inner">
				<h2>your Pages</h2>
				<nav class="breadcrumb">
				  <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
				  <span class="breadcrumb-item active">Pages</span>
				</nav>
			</div>
		</div>
	</section>
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<app-list-navigation></app-list-navigation>
									<!-- Shortcuts -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="groups">
										<span><i class="fa fa-users"></i> Pages</span>
									</div>
									<ul class="nearby-contct" *ngFor="let page of pageList">
										<li *ngIf="page.Active === true && page.RequestCreate === true" style="cursor: pointer;">
											<div class="nearly-pepls" (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]">
												<figure>
													<a ><img src={{page.Avatar}} style="width:60px; height:60px;" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4 style="width: 35%;"><a (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]" title="">{{page.Name}}</a></h4>
													<span>{{page.Description}}</span>
													<em>{{page.Follow}} Follows</em>
												</div>
											</div>
										</li>
										<li *ngIf="page.Active === true && page.RequestCreate === false" style="cursor: pointer;">
											<div class="nearly-pepls" (click)="showPositionDialog()">
												<figure>
													<a title=""><img src={{page.Avatar}} style="width:60px; height:60px;" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4 style="width: 30%;"><a title="">{{page.Name}}</a></h4>
													<span>{{page.Description}}</span>
													<em>{{page.Follow}} Follows</em>
												</div>
												<div class="pending">
													<span>Waiting for confirmation...</span>
												</div>
											</div>
											<p-dialog header="The page is not working yet !" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
												[draggable]="false" [resizable]="false">
												<p>Your travel page is being reviewed by the system, please wait within 24 hours.</p>
													<ng-template pTemplate="footer">
														<p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
													</ng-template>
											</p-dialog>
										</li>
										<li *ngIf="page.Active === false && page.RequestCreate === true" style="background-color: #c5c7c5;pointer-events: none;">
											<div class="nearly-pepls">
												<figure>
													<a (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]" title=""><img src={{page.Avatar}} style="width:60px; height:60px;" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4 style="width: 30%;"><a (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]" title="">{{page.Name}}</a></h4>
													<span>{{page.Description}}</span>
													<em>{{page.Follow}} Follows</em>
												</div>
												<div class="inactive">
													<img src="../../../assets/images/inactive.png">
												</div>
											</div>
										</li>
									</ul>
								</div><!-- photos -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div style="background-image: url(assets/images/resources/baner-widgetbg.jpg)"
												class="bg-image"></div>
											<div class="baner-top">
												<span><img src="assets/images/book-icon.png" alt=""></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													create your own favourit page.
												</p>
												<span>like them all</span>
												<a [routerLink]="['/main/newpage']" title="" data-ripple="">start now!</a>
											</div>
										</div>
									</div>
									<app-right-sidebar-list-friend></app-right-sidebar-list-friend>		
									<!-- friends list sidebar -->								
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<app-footer></app-footer>