<app-header></app-header>
	<section>
		<div class="page-header">
			<div class="header-inner">
				<h2>your Pages</h2>
				<nav class="breadcrumb">
				  <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
				  <span class="breadcrumb-item active">Pages</span>
				</nav>
			</div>
		</div>
	</section>
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<app-list-navigation></app-list-navigation>
									<!-- Shortcuts -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="groups">
										<span><i class="fa fa-users"></i> Pages</span>
									</div>
									<ul class="nearby-contct" *ngFor="let page of pageList">
										<li>
											<div class="nearly-pepls">
												<figure>
													<a (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]" title=""><img src={{page.Avatar}} style="width:60px; height:60px;" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]" title="">{{page.Name}}</a></h4>
													<span>{{page.Description}}</span>
													<em>{{page.Follow}} Follows</em>
												</div>
											</div>
										</li>
									</ul>
								</div><!-- photos -->
							</div><!-- centerl meta -->
							<div class="col-lg-3 rcorners2">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Who's follownig</h4>
										<ul class="followers">
											<li>
												<figure><img src="assets/images/resources/friend-avatar2.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a [routerLink]="['/groups-search']" title="">Kelly Bill</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar4.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a [routerLink]="['/groups-search']" title="">Issabel</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar6.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a [routerLink]="['/groups-search']" title="">Andrew</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar8.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a [routerLink]="['/groups-search']" title="">Sophia</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar3.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a [routerLink]="['/groups-search']" title="">Allen</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
										</ul>
									</div><!-- who's following -->
									<app-right-sidebar-list-friend></app-right-sidebar-list-friend>		
									<!-- friends list sidebar -->								
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<app-footer></app-footer>