<app-header></app-header>
	<section>
		<div class="page-header">
			<div class="header-inner">
				<h2>your Pages</h2>
				<nav class="breadcrumb">
				  <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
				  <span class="breadcrumb-item active">Pages</span>
				</nav>
			</div>
		</div>
	</section>
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<app-list-navigation></app-list-navigation>
									<!-- Shortcuts -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="groups">
										<span><i class="fa fa-users"></i> Pages</span>
									</div>
									<ul class="nearby-contct" *ngFor="let page of pageList">
										<li>
											<div class="nearly-pepls">
												<figure>
													<a (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]" title=""><img src={{page.Avatar}} style="width:60px; height:60px;" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a (click)="pageurl.getNavigation(page.Id)" [routerLink]="['/fanpage/:', page.Id]" title="">{{page.Name}}</a></h4>
													<span>{{page.Description}}</span>
													<em>{{page.Follow}} Follows</em>
												</div>
											</div>
										</li>
									</ul>
								</div><!-- photos -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div style="background-image: url(assets/images/resources/baner-widgetbg.jpg)"
												class="bg-image"></div>
											<div class="baner-top">
												<span><img src="assets/images/book-icon.png" alt=""></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													create your own favourit page.
												</p>
												<span>like them all</span>
												<a [routerLink]="['/main/newpage']" title="" data-ripple="">start now!</a>
											</div>
										</div>
									</div>
									<app-right-sidebar-list-friend></app-right-sidebar-list-friend>		
									<!-- friends list sidebar -->								
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<app-footer></app-footer>