<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<div class="friend-logo">
							<span><img src="assets/images/logo-login.png" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">About Us</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
						<p>
							Don’t use KG Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join
								now</a>
						</p>


						<!-- ********************************START LOGIN FORM********************************************* -->
						<form method="post" [formGroup]="m_loginForm">
							<div class="form-group">
								<!-- <input type="text" required="required" [(ngModel)]="appUsers.FirstName"
									[ngModelOptions]="{standalone: true}" /> -->
								<input type="text" required="required" formControlName="username"/>
								<label class="control-label" for="username">Username</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">
								<!-- <input type="password" required="required" [(ngModel)]="appUsers.Password"
									[ngModelOptions]="{standalone: true}" /> -->
								<input type="text" type="password" required="required" formControlName="password"/>
								<label class="control-label" for="password">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" checked="checked" /><i class="check-box"></i>Always Remember
									Me.
								</label>
							</div>
							<a href="#" title="" class="forgot-pwd">Forgot Password?</a> 
							<div class="submit-btns">
								<!-- <button class="mtr-btn signin" type="button" [routerLink]="['/newsfeed']">
									<span>Login</span>
								</button> -->
								<button class="mtr-btn signin" (click)="onSubmit()" style="margin-right:5px; width: 49%;">
									<span>Login</span> 
								</button>
								<button class="mtr-btn signup" type="submit" style="width: 49%;"><span>Register</span></button>
								<br>
								<a  href="http://localhost:4200/account/google-login" class="google btn">
								<!-- <a  href="https://khoi-studio.tk/account/google-login" class="google btn"> -->
									<i class="fa fa-google fa-fw"></i> Login with Google+
								</a>
							</div>
						</form>
						<!-- ********************************END LOGIN FORM********************************************* -->


					</div>
					<div class="log-reg-area reg">
						<h2 class="log-title">Register</h2>
						<p>
							Don’t use Winku Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join
								now</a>
						</p>
						<form>
							<div class="form-group">
								<input type="text" name='FirstName' required="required" [(ngModel)]="appUsers.FirstName"
									[ngModelOptions]="{standalone: true}" />
								<label class="control-label" for="input">First Name</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">
								<input type="text" name='LastName' required="required" [(ngModel)]="appUsers.LastName"
									[ngModelOptions]="{standalone: true}" />
								<label class="control-label" for="input">Last Name</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">
								<input type="text" name='UserName' required="required" [(ngModel)]="appUsers.UserName"
									[ngModelOptions]="{standalone: true}" />
								<label class="control-label" for="input">Email/Phone</label><i class="mtrl-select"></i>
								<button class="mtr-btn signup" type="button" (click)="sendOtp()"><span>Send OTP</span></button>
							</div>
							<div class="form-group">
								<input type="password" name='Password' required="required"
									[(ngModel)]="appUsers.Password" [ngModelOptions]="{standalone: true}" />
								<label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">
								<input type="password" name="ConfirmPassword" required="required"
									[(ngModel)]="appUsers.ConfirmPassword" />
								<label class="control-label" for="input">Confirm Password</label><i
									class="mtrl-select"></i>
							</div>
							<div class="form-radio">
								<div class="radio">
									<label>
										<input type="radio" name="radio" checked="checked" value="Male"
											(change)="onChangeGender($event)" /><i class="check-box"></i>Male
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="radio" value="Female"
											(change)="onChangeGender($event)" /><i class="check-box"></i>Female</label>
								</div>
							</div>
							<div class="form-group">
								<input type="text" name='OTP' required="required" [(ngModel)]="appUsers.OTP"
								[ngModelOptions]="{standalone: true}" />
								<label class="control-label" for="input">OTP</label><i class="mtrl-select"></i>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" (change)="onChangeTerm($event)" /><i
										class="check-box"></i>Accept Terms &
									Conditions ?
								</label>
							</div>
							<a href="#" title="" class="already-have">Already have an account</a>
							<div class="submit-btns">
								<button class="mtr-btn signup" type="button"
									(click)="createUser()"><span>Register</span></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>