.google {
    background: #dd4b39;
    color: white;
}
.google {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}
@media screen and (max-width: 540px) {
    .land-featurearea
    {
        height: 20vh;
        background-color: #a4a4a4;
    }
    .login-reg-bg 
    {
        height: 85vh;
    }
    .friend-logo > span::before
    {
        background: #bfc6c9;
    }
    .friend-logo > span::after
    {
        background: #bfc6c9;
    }
}