.container {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}
@media (max-width: 540px) {
    .post-meta
    {
        margin-top: 0px;
    }
 }