<ul class="we-comet">
    
    <ng-template ngFor let-comment [ngForOf]="commentJson" let-i="index">
        <li>
            <div class="comet-avatar">
                <img [src]=" getImageComment(comment.avarThumb)" alt="assets/images/non-user.png" style="height: 30px;width: 30px;"alt="">
            </div>
            <div class="we-comment">
                <div class="coment-head">
                    <h5><a (click)="getNavigation(comment.Id)" [routerLink]="['/timeline/:', comment.Id]" title="">{{comment.Name}}</a>
                    </h5>
                    <span>16 days ago</span>
                    <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                </div>
                <p>{{comment.Comment}}</p>
            </div>
        </li>
    </ng-template>

    <!-- <li>
        <a href="#" title="" class="showmore underline">more comments</a>
    </li> -->
    <li class="post-comment">
        <div>
            <form method="post" class="example-form ">
                <img src="{{this.appUsers.Avatar}}" style="width: 40px; height: 40px;" alt="">
                <mat-form-field appearance="outline" class="auto">
                    <mat-label>Write a comment</mat-label>
                    <textarea matInput placeholder="Write a comment" (keyup.enter)="OnKeyUpTxtAreaEvent($event)"></textarea>
                    <button mat-icon-button><mat-icon> insert_photo</mat-icon></button>
                    <button mat-icon-button><mat-icon>gif</mat-icon></button>
                    <button mat-icon-button><mat-icon> sentiment_satisfied_alt</mat-icon></button>
                </mat-form-field>
            </form>
        </div>
    </li>
</ul>