<app-header></app-header>
<section>
    <div class="page-header">
        <div class="header-inner">
            <h2>Advertisement</h2>
            <nav class="breadcrumb">
              <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
              <span class="breadcrumb-item active">Advertisement</span>
            </nav>
        </div>
    </div>
</section>
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-6 left">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>