<app-header></app-header>
<section>
    <div class="page-header">
        <div class="header-inner">
            <h2>Advertisement</h2>
            <nav class="breadcrumb">
              <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
              <span class="breadcrumb-item active">Advertisement</span>
            </nav>
        </div>
    </div>
</section>
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="div-ads1">
                    <h2 style="margin-left: 2%;
                    font-weight: bold;margin-top: 1%;">Ad creative</h2>
                    <mat-form-field class="example-full-width">
                        <mat-label>Ad Name</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="example-full-width">
                      <mat-label>My pages</mat-label>
                      <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div class="nav-info">
                    <h2 style="margin-left: 2%;
                    font-weight: bold;margin-top: 1%;">Estimated daily results</h2>
                    <mat-form-field class="example-hfull-width">
                        <mat-label>People reached</mat-label>
                        <input disabled value="8.3K-24.1K" matInput min="0" max="100" name="Days" id="input" required="required">
                    </mat-form-field>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="display: inline-block;">
                        <mat-icon>info</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <p style="text-align: center;
                        font-size: 12px;">This is the number of people that we estimate you'll reach in your audience each day. This has to do with factors such as your bid and budget. Your actual reach may be higher or lower than this estimate.</p>
                    </mat-menu>
                </div>
                <div class="nav-info-cost">
                    <h2 style="margin-left: 2%;
                    font-weight: bold;margin-top: 1%;">Payment summary</h2>
                    <div style="margin-top: -3%;margin-left: 2%;margin-bottom: 3%;"><span>Your ad will run for 10 days.</span></div>
                    <mat-form-field class="example-hfull-width">
                        <mat-label>People reached</mat-label>
                        <input disabled value="₫3000000 a day x 10 days." matInput min="0" max="100" name="Days" id="input" required="required">
                    </mat-form-field>
                    <hr style="width: 90%;margin-top: 0rem;">
                </div>
                <div class="nav-info-button">
                    <button mat-button color="primary">Management ></button>
                </div>
                <div class="div-ads2">
                    <h2 style="margin-left: 2%;
                    font-weight: bold;margin-top: 1%;">Duration</h2>
                    <mat-form-field class="example-half-width">
                        <mat-label>Days</mat-label>
                        <input (keypress)="keyPress($event)" matInput type="number" min="0" max="100" name="Days" id="input" required="required">
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="example-half-width">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <hr>
                    <h3 style="margin-left: 2%;
                    font-weight: bold;">Daily budget</h3>
                    <div class="infoo"><span>Actual amount spent daily may vary.</span>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>info</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <p style="text-align: center;
                            font-size: 12px;">When your ads have more opportunities to get results, you may spend more than your daily budget.</p>
                        </mat-menu>
                    </div>
                    <div style="text-align: center;font-weight: bold;"><span>An estimated 8.3K-24.1K people reached per day</span></div>
                    <div class="fee"><span style="font-size: 25px;
                        margin-right: 5px;">$</span><span style="font-size: 30px;">300</span></div>
                    <mat-slider
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    step="1"
                    min="0"
                    max="100"
                    aria-label="units"></mat-slider>
                </div>
                <div class="div-ads3">
                    <h2 style="margin-left: 2%;
                    font-weight: bold;margin-top: 1%;">Payment Method</h2>
                    <div style="width: 80%;
                    margin-left: 10%;">
                        <ng-template matStepLabel>Payment</ng-template>
                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>   
                    </div>                 
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>