<app-header></app-header>
<section>
    <div class="page-header">
        <div class="header-inner">
            <h2>My List Trips</h2>
            <nav class="breadcrumb">
                <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
                <span class="breadcrumb-item active">Trips</span>
            </nav>
        </div>
    </div>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!-- Shortcuts -->
                                <app-list-navigation></app-list-navigation>

                            </aside>
                        </div><!-- sidebar -->
                       
                        <div class="col-lg-6">
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header class="panel-header">
                                      <mat-panel-title class="title-panel">
                                        Where do you want to go ?
                                      </mat-panel-title>
                                      <mat-panel-description>
                                        Let's go!
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                
                                    <mat-form-field>
                                      <mat-label>Tourist place name</mat-label>
                                      <input matInput>
                                    </mat-form-field>
                                
                                    <mat-form-field>
                                      <mat-label>From $</mat-label>
                                      <input matInput type="number" min="10">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>To $</mat-label>
                                        <input matInput type="number" min="10">
                                      </mat-form-field>
                                    <mat-action-row>
                                      <button mat-button color="primary">Find</button>
                                    </mat-action-row>
                                  </mat-expansion-panel>
                            </mat-accordion>
                            <div class="jumbotron">
                                <h1>Find the good out there.</h1>      
                                <p>Where to ?</p>
                            </div>
                            <div id="demo" class="carousel slide" data-ride="carousel">
                                <ul class="carousel-indicators">
                                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                                  <li data-target="#demo" data-slide-to="1"></li>
                                  <li data-target="#demo" data-slide-to="2"></li>
                                </ul>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/images/logo.png" alt="Los Angeles" width="100%" style="height: 300px;">  
                                  </div>
                                  <div class="carousel-item" *ngFor="let trip of tripList">
                                    <img class ="imgtrip" src="{{trip.Image}}" (click)="tripurl.getNavigation(trip.Id)" [routerLink]="['/trip-detail/:', trip.Id]" width="100%" style="height: 300px;">
                                    <div class="carousel-caption">
                                      <h3 style="color:black"><strong>{{trip.Name}}</strong></h3>
                                      <p style="color:black">{{trip.Content}}</p>
                                    </div>   
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                  <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                  <span class="carousel-control-next-icon"></span>
                                </a>
                              </div>
                              <br>
                              <mat-progress-bar *ngIf="this.play === true" mode="indeterminate"></mat-progress-bar>
                              <mat-grid-list cols="2" rowHeight="{{this.lengthcount}}" style="height: 300px;">
                                  <mat-grid-tile *ngFor="let trip of tripList" class="tile-grid">
                                        <div class="card">
                                        <img src="{{trip.Image}}" alt="Avatar" style="width: 100%; height: 65%;" (click)="tripurl.getNavigation(trip.Id)" [routerLink]="['/trip-detail/:', trip.Id]">
                                        <div class="container">
                                          <h4 class="trip-name"><b>{{trip.Name}}</b></h4> 
                                        </div>
                                        <span class="cost"><strong>{{trip.Cost}} $</strong></span> 
                                      </div>
                                    </mat-grid-tile>
                                  </mat-grid-list>
                                  <br>
                              <button *ngIf="(this.count) < (this.listcount)" class="btn-view btn-load-more" (click)="getTripListmore()"></button>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3 ads">
                            <aside class="sidebar static">
                                <div class="widget">
                                    <div class="banner medium-opacity bluesh">
                                        <div style="background-image: url(assets/images/resources/baner-widgetbg.jpg)"
                                            class="bg-image"></div>
                                        <div class="baner-top">
                                            <span><img src="assets/images/book-icon.png" alt=""></span>
                                            <i class="fa fa-ellipsis-h"></i>
                                        </div>
                                        <div class="banermeta">
                                            <p>
                                                create your own favourit page.
                                            </p>
                                            <span>like them all</span>
                                            <a [routerLink]="['/main/newpage']" title="" data-ripple="">start now!</a>
                                        </div>
                                    </div>
                                </div>
                                <app-right-sidebar-list-friend></app-right-sidebar-list-friend>	
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>