<app-header></app-header>
<section>
    <div class="page-header">
        <div class="header-inner">
            <h2>My List Trips</h2>
            <nav class="breadcrumb">
                <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
                <span class="breadcrumb-item active">Trips</span>
            </nav>
        </div>
    </div>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!-- Shortcuts -->
                                <app-list-navigation></app-list-navigation>

                            </aside>
                        </div><!-- sidebar -->
                       
                        <div class="col-lg-6">
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Where do you want to go ?
                                      </mat-panel-title>
                                      <mat-panel-description>
                                        Let's go!
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                
                                    <mat-form-field>
                                      <mat-label>Tourist place name</mat-label>
                                      <input matInput>
                                    </mat-form-field>
                                
                                    <mat-form-field>
                                      <mat-label>From $</mat-label>
                                      <input matInput type="number" min="10">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>To $</mat-label>
                                        <input matInput type="number" min="10">
                                      </mat-form-field>
                                    <mat-action-row>
                                      <button mat-button color="primary">Find</button>
                                    </mat-action-row>
                                  </mat-expansion-panel>
                            </mat-accordion>
                            
                            <!--<button class="btn btn-primary" mat-button style="width: 730px;"
                                (click)="CreateTripDialog()">Create Trip</button><-->
                            
                            <div class="loadMore">
                                <div class="central-meta item" *ngFor="let trip of tripList">
                                    <div class="user-post">
                                        <button mat-icon-button [matMenuTriggerFor]="menu"
                                            aria-label="Example icon-button with a menu" class="left2">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item *ngIf="this.appUsers.Id === trip.authorId">
                                                <mat-icon>edit</mat-icon>
                                                <span>edit</span>
                                            </button>
                                            <button mat-menu-item>
                                                <mat-icon>report_problem</mat-icon>
                                                <span>report</span>
                                            </button>
                                            <button mat-menu-item *ngIf="this.appUsers.Id === trip.authorId">
                                                <mat-icon>delete</mat-icon>
                                                <span>delete</span>
                                            </button>
                                        </mat-menu>
                                        <div class="friend-info">
                                            <figure>
                                                <img src="{{trip.authorAvatar}}"
                                                    style="width: 50px; height: 50px;">
                                            </figure>
                                            <div class="friend-name">
                                                <ins><a title="" (click)="tripurl.getNavigation(trip.Id)" [routerLink]="['/trip-detail/:', trip.Id]">{{trip.Name}}</a></ins>
                                                <span (click)="pageurl.getNavigation(trip.PageId)" [routerLink]="['/fanpage/:', trip.PageId]" >published: {{trip.CreatedDate| date: 'dd/MM/yyyy'}} Created by
                                                    <strong>{{trip.authorName}}</strong></span>
                                            </div>
                                            <div class="description">

                                                <p>
                                                    {{trip.Content}}
                                                </p>
                                            </div>
                                            <div class="post-meta">
                                                <div class="linked-image align-left">
                                                    <a title=""><img src="{{trip.Image}}"
                                                            style="width: 750px;height: 400;" alt="" (click)="tripurl.getNavigation(trip.Id)" [routerLink]="['/trip-detail/:', trip.Id]"></a>
                                                </div>
                                                <br>
                                                <div class="detail">
                                                </div>
                                                <div>
                                                    <app-users-list-trip [tripId]="trip.Id"></app-users-list-trip>
                                                    <span><mat-icon>attach_money</mat-icon>{{trip.Cost}}</span>
                                                    <button class="btn btn-primary left" mat-button *ngIf="this.appUsers.Id != trip.authorId">Message</button>
                                                    <button class="btn btn-primary left" mat-button (click)="AddFriendDialog(trip.Id)" *ngIf="this.appUsers.Id === trip.authorId">Info Passesngers</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <mat-progress-bar *ngIf="this.play === true" mode="indeterminate"></mat-progress-bar>
                                <button class="btn-view btn-load-more" (click)="getTripListmore()"></button>
                            </div>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <div class="widget">
                                    <div class="banner medium-opacity bluesh">
                                        <div style="background-image: url(assets/images/resources/baner-widgetbg.jpg)"
                                            class="bg-image"></div>
                                        <div class="baner-top">
                                            <span><img src="assets/images/book-icon.png" alt=""></span>
                                            <i class="fa fa-ellipsis-h"></i>
                                        </div>
                                        <div class="banermeta">
                                            <p>
                                                create your own favourit page.
                                            </p>
                                            <span>like them all</span>
                                            <a [routerLink]="['/main/newpage']" title="" data-ripple="">start now!</a>
                                        </div>
                                    </div>
                                </div>
                                <app-right-sidebar-list-friend></app-right-sidebar-list-friend>	
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>