.rcorners2 {
    border-radius: 25px;
    border: 2px solid #898e91;
    padding: 20px; 
  }

  .rcorners1 {
    border-radius: 25px;
    border: 0.1px solid #898e91;
    padding: 20px; 
  }
  .rcornersx {
    border-radius: 25px;
    border: 0px solid #898e91;
    padding:7px; 
    display: inline-block;
    padding-left: 15px;
    position: relative;
    width: 33%;
  }
  .img-postbox
  {
    width: 70px; 
    height: 70px;
  }
  @media (max-width: 991px) {
    .img-postbox
    {
      height: 40px;
    }
 }