.rcorners2 {
    border-radius: 25px;
    border: 2px solid #898e91;
    padding: 20px; 
  }

  .rcorners1 {
    border-radius: 25px;
    border: 0.1px solid #898e91;
    padding: 20px; 
  }
  .rcornersx {
    border-radius: 25px;
    border: 0px solid #898e91;
    padding:7px; 
    display: inline-block;
    position: relative;
    width: 33%;
  }
  .img-postbox
  {
    width: 70px; 
    height: 70px;
  }
  .left
  {
    position: absolute;
    top:1%;
    right: 1%;
  }
  @media (max-width: 1024px){
    .img-postbox
    {
      width: 40px;
      height: 40px;
      margin-top: 12px;
      margin-left: 5px;
    }
    .rcornersx
    {
      font-size: 12px;
    }
    .rcorners2
    {
      padding-bottom: 0px;
    }
 }
 @media (min-width:1025px)
 {
   .col-lg-6
   {
     margin-top: 60px;
   }
 }
 @media (max-width:768px)
 {
   .display-miniscreen
   {
     display: none;
   }
 }