.rcorners2 {
    border-radius: 25px;
    border: 2px solid #8eccf0;
    padding: 20px; 
  }

  .rcorners1 {
    border-radius: 25px;
    border: 0.1px solid #bee2f7;
    padding: 20px; 
  }
  .rcorners0 {
    border-radius: 25px;
    border: 0px solid #8eccf0;
    padding:7px; 
  }