<app-header></app-header>
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <!-- Shortcuts -->
                                <app-list-navigation style="width:250px;position: fixed;top: 80px;"></app-list-navigation>
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta rcorners2">
                                <div class="new-postbox">
                                    <figure>
                                        <img class="img-postbox" src="{{this.appUsers.Avatar}}" alt="">
                                    </figure>
                                    <div class="newpst-input">
                                        <form method="post">
                                            <textarea class=" rcorners1" rows="2" placeholder="What do you think ?" (click)=openDialog()></textarea>
                                        </form>
                                        <div>
                                            <button class="rcornersx" mat-stroked-button><mat-icon>videocam</mat-icon>Live</button>
                                            <button class="rcornersx" mat-stroked-button><mat-icon>image</mat-icon>Images</button>
                                            <button class="rcornersx" mat-stroked-button><mat-icon>file_copy</mat-icon>File</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- add post new box -->
                            <mat-progress-bar *ngIf="this.play === true" mode="indeterminate"></mat-progress-bar>
                            <br>
                            <div class="loadMore">
                                <ng-template ngFor let-post [ngForOf]="m_posts" let-i="index">
                                    <div class="central-meta item rcorners2">
                                        <app-post (OnReceivePostCommentData)="commentPost($event)" [postData]=post></app-post>
                                    </div>
                                </ng-template>
                            </div>
                            <button class="btn-view btn-load-more"></button>
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <div class="widget" style="display:none">
                                    <h4 class="widget-title">Your page</h4>
                                    <div class="your-page">
                                        <figure>
                                            <a [routerLink]="['/main/groups-search']" title=""><img src="assets/images/resources/friend-avatar9.jpg"
                                                    alt=""></a>
                                        </figure>
                                        <div class="page-meta">
                                            <a [routerLink]="['/main/groups-search']" title="" class="underline">My pages</a>
                                            <span><i class="ti-comment"></i><a href="insight.html" title="">Messages
                                                    <em>9</em></a></span>
                                            <span><i class="ti-bell"></i><a href="insight.html" title="">Notifications
                                                    <em>2</em></a></span>
                                        </div>
                                        <div class="page-likes">
                                            <ul class="nav nav-tabs likes-btn">
                                                <li class="nav-item"><a class="active" href="#link1"
                                                        data-toggle="tab">likes</a></li>
                                                <li class="nav-item"><a class="" href="#link2"
                                                        data-toggle="tab">views</a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active fade show " id="link1">
                                                    <span><i class="ti-heart"></i>884</span>
                                                    <a href="#" title="weekly-likes">35 new likes this week</a>
                                                    <div class="users-thumb-list">
                                                        <a href="#" title="Anderw" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-1.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="frank" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-2.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Sara" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-3.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Amy" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-4.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Ema" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-5.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Sophie" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-6.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Maria" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-7.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="link2">
                                                    <span><i class="ti-eye"></i>440</span>
                                                    <a href="#" title="weekly-likes">440 new views this week</a>
                                                    <div class="users-thumb-list">
                                                        <a href="#" title="Anderw" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-1.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="frank" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-2.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Sara" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-3.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Amy" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-4.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Ema" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-5.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Sophie" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-6.jpg" alt="">
                                                        </a>
                                                        <a href="#" title="Maria" data-toggle="tooltip">
                                                            <img src="assets/images/resources/userlist-7.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- page like widget -->
                                <!-- friends list sidebar here -->
                                <app-right-sidebar-list-friend></app-right-sidebar-list-friend>
                            </aside>
                        </div><!-- sidebar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>