<app-header></app-header>
	<section>
		<div class="page-header">
			<div class="header-inner">
				<h2>Page Management</h2>
				<nav class="breadcrumb">
				  <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
				  <span class="breadcrumb-item active">Page Management</span>
				</nav>
			</div>
		</div>
	</section>
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<button pButton pRipple type="button" icon="pi pi-reply" class="p-button-rounded p-button-secondary btn-back" (click)="pageurl.getNavigation(this.idpage)"></button>
						</div>
						<div style="margin-bottom: 20px;">
							<p-button label="Create a trip" icon="pi pi-plus" (click)=CreateTripDialog()></p-button>
						</div>
						<div class="mat-elevation-z8">
							<table mat-table [dataSource]="dataSource">
						  
							  <!-- Position Column -->
							  <ng-container matColumnDef="Content">
								<th mat-header-cell *matHeaderCellDef> Content </th>
								<td mat-cell *matCellDef="let element"> {{element.Content}} </td>
							  </ng-container>
						  
							  <!-- Name Column -->
							  <ng-container matColumnDef="Description">
								<th mat-header-cell *matHeaderCellDef> Description </th>
								<td mat-cell *matCellDef="let element"> {{element.Description}} </td>
							  </ng-container>
						  
							  <!-- Weight Column -->
							  <ng-container matColumnDef="Name">
								<th mat-header-cell *matHeaderCellDef> Weight </th>
								<td mat-cell *matCellDef="let element"> {{element.Name}} </td>
							  </ng-container>
						  
							  <!-- Symbol Column -->
							  <ng-container matColumnDef="Id">
								<th mat-header-cell *matHeaderCellDef> Id </th>
								<td mat-cell *matCellDef="let element"> {{element.Id}} </td>
							  </ng-container>
						  
							  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
							</table>
						  
							<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
						  </div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<app-footer></app-footer>