.left2 {
    margin-left :650px;
    position: absolute;
    bottom: 1;
    left: 0;
}
.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  .left1 {
    margin-left :150px 
}
.rcorners0 {
  border-radius: 15px;
  border: 0px solid #8eccf0;
  padding:7px; 
  margin-top: 10px;
  margin-left: 6px;
}