<div class="user-post">
    <div class="friend-info">
       <figure>
          <img src="{{postData.authorThumb}}" class="img-author" alt="">
       </figure>
       <div class="friend-name">
          <ins><a (click)="getNavigation(postData.authorId)" [routerLink]="['/timeline/:', postData.authorId]" title="">{{postData.authorName}}</a></ins>
          <span>published: {{postData.dateCreated| date: 'dd/MM/yyyy'}}</span>
       </div>
       <app-post-meta [content]="postData.content" [imageUri]="postData.imageUri"></app-post-meta>
       <span><mat-icon style ="margin-left: 20px; margin-top: 5px;">thumb_up_alt</mat-icon> 20</span>
       <span class="infopost">10<a> Comments</a> /2 <a href=""> Shares</a></span>
      <button mat-icon-button [matMenuTriggerFor]="menu"
       aria-label="Example icon-button with a menu" class="left2">
       <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="this.id === postData.authorId">
          <mat-icon>edit</mat-icon>
          <span>edit</span>
      </button>
      <button mat-menu-item>
          <mat-icon>report_problem</mat-icon>
          <span>report</span>
      </button>
      <button mat-menu-item  *ngIf="this.id === postData.authorId">
          <mat-icon>delete</mat-icon>
          <span>delete</span>
      </button>
    </mat-menu>
    <div>
      <mat-divider class="div-post1"></mat-divider>
    </div>
    <div>
      <mat-divider class="div-post2"></mat-divider>
    </div>
    <div>
      <button class="rcorners-post" mat-stroked-button><mat-icon>thumb_up_alt</mat-icon>Like</button>
      <button class="rcorners-post" mat-stroked-button><mat-icon>chat_bubble_outline</mat-icon>Comment</button>
      <button class="rcorners-post" mat-stroked-button><mat-icon>share</mat-icon>Share</button>
   </div>
    </div>
    <div class="coment-area">
       <app-comment-area (submitCommentEvent)="submitComment($event)" [commentJson]="postData.commentJson"></app-comment-area>
    </div>
 </div>