.left2 {
    margin-left :650px;
    position: absolute;
    bottom: 1;
    left: 0;
}
.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  .left1 {
    margin-left :150px 
}