.background-img
{
    width: 1600px;
    height: 450px;
}
.avatar-img
{
    height: 200px;
}
.rating-star{
    display: inline-block;
    position: absolute;
    right: 10%;
}
.green-tick
{
    display: inline-flex;
    height: 20px;
    width: 20px;
    margin-top: -15px;
    margin-left: 5px;
}
@media (max-width:420px)
{
    .rating-star{
        right: 0%;
        margin-top: -50px;
    }
}
@media (max-width: 991px) {
    .background-img
    {
      height: 150px;
    }
    .avatar-img
    {
        width: 150px; 
        height: 100px;
    }
    .background-figure
    {
        height: 120px;
    }
}