<section>
    <div class="feature-photo">
        <figure class="background-figure"><img class="background-img" src={{this.pages.Background}} alt=""></figure>
        <div *ngIf="this.pages.UserId!=this.userid" class="add-btn">
            <a *ngIf="this.check === false" title="" style="color: white;cursor: pointer;" (click)="follow()">Follow</a>
            <a *ngIf="this.check === true"  title="" style="color: white;cursor: pointer;" (click)="unfollow()">Unfollow</a>
        </div>
        <form class="edit-phto" (click)="openDialogBackground()" *ngIf="this.pages.UserId===this.userid">
            <i class="fa fa-camera-retro"></i>
            <label class="fileContainer">
                Edit Cover Photo
        </label>
        </form>
        <div class="container-fluid">
            <div class="row merged">
                <div class="col-lg-2 col-sm-3">
                    <div class="user-avatar">
                        <figure>
                            <img class="avatar-img" src={{this.pages.Avatar}} alt="">
                            <form class="edit-phto" (click)="openDialogAvatar()" *ngIf="this.pages.UserId===this.userid">
                                <i class="fa fa-camera-retro"></i>
                                <label class="fileContainer">
                                    Edit Display Photo
                                </label>
                            </form>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <div class="timeline-info">
                        <ul>
                            <li class="admin-name">
                              <h5>{{this.pages.Name}}</h5>
                              <span>@tourist_page</span>
                              <div *ngIf = "this.pages.Follow > 9999" class="green-tick" pTooltip="Prestigious Page" tooltipPosition="bottom"><img style="height: 20px;width: 20px;" src="/assets/images/green_tick.png"></div>
                            </li>
                            <li>
                                <a class="" (click)="pageurl.getNavigation(this.pages.Id)" [routerLink]="['/fanpage/:', this.pages.Id]" title="" data-ripple="">Tours</a>
                                <a class="" [routerLink]="['/main/fanpage-discount']" title="" data-ripple="">Discount</a>
                                <a class="" [routerLink]="['/main/fanpage-review']" title="" data-ripple="">Reviews</a>
                                <a class="" [routerLink]="['/main/fanpage']" title="" data-ripple="">Images</a>
                            </li>
                            <div class="rating-star"  pTooltip="{{this.rating}} star, {{this.reviews}}" tooltipPosition="bottom"><p-rating [ngModel]="this.rating" readonly="true" stars="5" [cancel]="false"></p-rating></div>
                            <button *ngIf="this.pages.UserId==this.userid" mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" style="position: relative;
                            float: right;margin-top: 5px;" [routerLink]="['/main/fanpage-admin']">
                                <mat-icon>settings</mat-icon>
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>