<div class="widget friend-list stick-widget rcorners2">
    <h4 class="widget-title">Friends</h4>
    <form class="example-form left">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input type="tel" matInput>
          <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
        </mat-form-field>
    </form>
    <ul id="people-list" class="friendz-list">
        <ng-template ngFor let-friend [ngForOf]="m_friends" let-i="index">
            <li>
                <figure>
                    <img [src]="m_uriHandler.getImageUrl(friend.avarThumb)" alt="">
                    <span class="status f-online"></span>
                </figure>
                <div class="friendz-meta">
                    <a class="in-progress"(click)="showDialog()" >{{friend.Name}}</a>
                </div>
            </li>
        </ng-template>
    </ul>
</div>
<p-dialog header="Chat box" [(visible)]="display" [style]="{width: '30vw'}">
    <div class="p-col-12 p-md-4">
        <p-scrollPanel [style]="{width: '100%', height: '200px'}">                   
        <p-card>
            Alo
        </p-card>
        <br>
        <p-card>
            Content
        </p-card>
        <br>
        <p-card>
            Content
        </p-card>
        </p-scrollPanel>
        <br>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="write message...">   
            <button type="button" pButton pRipple icon="pi pi-caret-right" styleClass="p-button-warn"></button>      
        </div>
    </div>
</p-dialog>
