.rcorners2 {
    border-radius: 25px;
    border: 2px solid #898e91;
    padding: 20px;
  }
.left
{
  margin-left: 20px;
  margin-right: 20px;
}
.in-progress {
  cursor: pointer;
}
.rcorners1 {
  border-radius: 5px;
  border: 0.1px solid #69cc7f;
  width:35px;
  height: 35px;
  margin-right: 5px;
}
.itme {
  position: absolute;
  right: 0;
  margin-right: 30px;
}
.auto
{
    display: inline-block;
    position: relative;
    width: 100%;
}
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
@media screen and (max-width: 1025px) {
  .search-box
  {
    width: 150px;
  }
}
@media (min-width:1025px)
{
  .rcorners2
  {
    margin-top: 20px; 
  }
}