<div class="widget friend-list stick-widget rcorners2">
    <h4 class="widget-title">Friends</h4>
    <form class="example-form left">
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input type="tel" matInput>
          <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
        </mat-form-field>
    </form>
    <ul id="people-list" class="friendz-list">
        <ng-template ngFor let-friend [ngForOf]="m_friends" let-i="index">
            <li>
                <figure>
                    <img [src]="m_uriHandler.getImageUrl(friend.avarThumb)" alt="">
                    <span class="status f-online"></span>
                </figure>
                <div class="friendz-meta">
                    <a href="time-line.html">{{friend.Name}}</a>
                </div>
            </li>
        </ng-template>
    </ul>
    <!-- <div class="chat-box show">
        <div class="chat-head">
            <span class="status f-online"></span>
            <h6>Bucky Barnes</h6>
            <div class="more">
                <span><i class="ti-more-alt"></i></span>
                <span class="close-mesage"><i class="ti-close"></i></span>
            </div>
        </div>
        <div class="chat-list">
            <ul>
                <li class="me">
                    <div class="chat-thumb"><img src="assets/images/resources/chatlist1.jpg" alt=""></div>
                    <div class="notification-event">
                        <span class="chat-message-item">
                            Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                        </span>
                        <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                    </div>
                </li>
                <li class="you">
                    <div class="chat-thumb"><img src="assets/images/resources/chatlist2.jpg" alt=""></div>
                    <div class="notification-event">
                        <span class="chat-message-item">
                            Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                        </span>
                        <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                    </div>
                </li>
                <li class="me">
                    <div class="chat-thumb"><img src="assets/images/resources/chatlist1.jpg" alt=""></div>
                    <div class="notification-event">
                        <span class="chat-message-item">
                            Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                        </span>
                        <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                    </div>
                </li>
            </ul>
            <form class="text-box">
                <textarea placeholder="Post enter to post..."></textarea>
                <div class="add-smiles">
                    <span title="add icon" class="em em-expressionless"></span>
                </div>
                <div class="smiles-bunch">
                    <i class="em em---1"></i>
                    <i class="em em-smiley"></i>
                    <i class="em em-anguished"></i>
                    <i class="em em-laughing"></i>
                    <i class="em em-angry"></i>
                    <i class="em em-astonished"></i>
                    <i class="em em-blush"></i>
                    <i class="em em-disappointed"></i>
                    <i class="em em-worried"></i>
                    <i class="em em-kissing_heart"></i>
                    <i class="em em-rage"></i>
                    <i class="em em-stuck_out_tongue"></i>
                </div>
                <button type="submit"></button>
            </form>
        </div>
    </div> -->
</div>
<!-- <div class="widget friend-list stick-widget">
    <h4 class="widget-title">Friends</h4>
    <div id="searchDir"></div>
    <ul id="people-list" class="friendz-list">

        
        <li>
            <figure>
                <img src="assets/images/resources/friend-avatar.jpg" alt="">
                <span class="status f-online"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">bucky barnes</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f6819f9882938485999a929384b6919b979f9ad895999b">[email&#160;protected]</a></i>
            </div>
        </li>
        
    </ul>
</div>friends list sidebar -->

<!-- <div class="chat-box">
    <div class="chat-head">
        <span class="status f-online"></span>
        <h6>Bucky Barnes</h6>
        <div class="more">
            <span><i class="ti-more-alt"></i></span>
            <span class="close-mesage"><i class="ti-close"></i></span>
        </div>
    </div>
    <div class="chat-list">
        <ul>
            <li class="me">
                <div class="chat-thumb"><img src="assets/images/resources/chatlist1.jpg" alt=""></div>
                <div class="notification-event">
                    <span class="chat-message-item">
                        Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                    </span>
                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                </div>
            </li>
            <li class="you">
                <div class="chat-thumb"><img src="assets/images/resources/chatlist2.jpg" alt=""></div>
                <div class="notification-event">
                    <span class="chat-message-item">
                        Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                    </span>
                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                </div>
            </li>
            <li class="me">
                <div class="chat-thumb"><img src="assets/images/resources/chatlist1.jpg" alt=""></div>
                <div class="notification-event">
                    <span class="chat-message-item">
                        Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                    </span>
                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                </div>
            </li>
        </ul>
        <form class="text-box">
            <textarea placeholder="Post enter to post..."></textarea>
            <div class="add-smiles">
                <span title="add icon" class="em em-expressionless"></span>
            </div>
            <div class="smiles-bunch">
                <i class="em em---1"></i>
                <i class="em em-smiley"></i>
                <i class="em em-anguished"></i>
                <i class="em em-laughing"></i>
                <i class="em em-angry"></i>
                <i class="em em-astonished"></i>
                <i class="em em-blush"></i>
                <i class="em em-disappointed"></i>
                <i class="em em-worried"></i>
                <i class="em em-kissing_heart"></i>
                <i class="em em-rage"></i>
                <i class="em em-stuck_out_tongue"></i>
            </div>
            <button type="submit"></button>
        </form>
    </div>
</div> -->

<!-- <li>
            <figure>
                <img src="assets/images/resources/friend-avatar2.jpg" alt="">
                <span class="status f-away"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">Sarah Loren</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d6b4b7a4b8b3a596b1bbb7bfbaf8b5b9bb">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            <figure>
                <img src="assets/images/resources/friend-avatar3.jpg" alt="">
                <span class="status f-off"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">jason borne</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="157f74667a7b77557278747c793b767a78">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            <figure>
                <img src="assets/images/resources/friend-avatar4.jpg" alt="">
                <span class="status f-off"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">Cameron diaz</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="771d160418191537101a161e1b5914181a">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            
            <figure>
                <img src="assets/images/resources/friend-avatar5.jpg" alt="">
                <span class="status f-online"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">daniel warber</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="462c273529282406212b272f2a6825292b">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            
            <figure>
                <img src="assets/images/resources/friend-avatar6.jpg" alt="">
                <span class="status f-away"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">andrew</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="94fef5e7fbfaf6d4f3f9f5fdf8baf7fbf9">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            
            <figure>
                <img src="assets/images/resources/friend-avatar7.jpg" alt="">
                <span class="status f-off"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">amy watson</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="650f04160a0b07250208040c094b060a08">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            
            <figure>
                <img src="assets/images/resources/friend-avatar5.jpg" alt="">
                <span class="status f-online"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">daniel warber</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d3b9b2a0bcbdb193b4beb2babffdb0bcbe">[email&#160;protected]</a></i>
            </div>
        </li>
        <li>
            
            <figure>
                <img src="assets/images/resources/friend-avatar2.jpg" alt="">
                <span class="status f-away"></span>
            </figure>
            <div class="friendz-meta">
                <a href="time-line.html">Sarah Loren</a>
                <i><a href="https://wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="335152415d564073545e525a5f1d505c5e">[email&#160;protected]</a></i>
            </div>
        </li> -->