mat-form-field {
    margin-right: 12px;
  }
  .left {
    margin-left :200px 
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
  width: 100px;
  margin-left: 15px;
}
.card-dis
{
  background: greenyellow;
  color: blue;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.card:hover
{
  opacity: 0.5;
}