
<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a (click)="openNav()" class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a [routerLink]="['/main/home']" title=""><img src="assets/images/logo.png" style="width: 100px; height: 50px;" alt=""></a>
        </span>
        <span class="mh-btns-right">
            <a class="fa fa-sliders" href="#shoppingbag"></a>
        </span>
    </div>
    <div class="mh-head second">
        <form class="mh-form">
            <input name="namesearch" type="text" placeholder="Search Something" [(ngModel)]="this.NameSearch">
            <button data-ripple [routerLink]="['/main/friends-search']" (click)="search()"><i class="ti-search"></i></button>
        </form>
    </div>
    <nav id="menu" class="res-menu" >
        <ul>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/home']" title="">Home Social</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/timeline/:', this.appUsers.Id]" (click)="timelineurl.getNavigationMain(this.appUsers.Id)" title="">timeline</a></li>                             
            <li *ngIf="this.res==true"><a [routerLink]="['/main/trip']" title="">View List Trips</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/contact']" title="">contact</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/faq']" title="">faq's page</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/knowledge']" title="">Knowledge base</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/widgets']" title="">Widgets</a></li>
        </ul>
    </nav>
    <nav id="shoppingbag" *ngIf="this.res==true">
        <div>
            <div class="">
                <form method="post">
                    <div class="setting-row">
                        <span>use night mode</span>
                        <input type="checkbox" id="nightmode"/> 
                        <label for="nightmode" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Notifications</span>
                        <input type="checkbox" id="switch2"/> 
                        <label for="switch2"></label>
                    </div>
                    <div class="setting-row">
                        <span>Notification sound</span>
                        <input type="checkbox" id="switch3"/> 
                        <label for="switch3" ></label>
                    </div>
                    <div class="setting-row">
                        <span>My profile</span>
                        <input type="checkbox" id="switch4"/> 
                        <label for="switch4"></label>
                    </div>
                    <div class="setting-row">
                        <span>Show profile</span>
                        <input type="checkbox" id="switch5"/> 
                        <label for="switch5" ></label>
                    </div>
                </form>
                <h4 class="panel-title">Account Setting</h4>
                <form method="post">
                    <div class="setting-row">
                        <span>Sub users</span>
                        <input type="checkbox" id="switch6" /> 
                        <label for="switch6" ></label>
                    </div>
                    <div class="setting-row">
                        <span>personal account</span>
                        <input type="checkbox" id="switch7" /> 
                        <label for="switch7" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Business account</span>
                        <input type="checkbox" id="switch8" /> 
                        <label for="switch8" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Show me online</span>
                        <input type="checkbox" id="switch9" /> 
                        <label for="switch9" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Delete history</span>
                        <input type="checkbox" id="switch10" /> 
                        <label for="switch10" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Expose author name</span>
                        <input type="checkbox" id="switch11" /> 
                        <label for="switch11" ></label>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div><!-- responsive header -->
<div class="topbar ">
    <div class="logo">
        <a title="" (click)="returnId()" [routerLink]="['/main']"><img src="assets/images/logo.png" style="width: 70px; height: 40px;"alt=""></a>
    </div>
    
    <div class="top-area" >
        <ul class="main-menu">
            <li>
                <form class="example-form" method="post">
                    <mat-form-field class="example-full-width">
                      <mat-label>Search Friend</mat-label>
                      <input  name="namesearch" type="tel" [(ngModel)]="this.NameSearch" matInput placeholder="">
                      <mat-icon matSuffix [routerLink]="['/main/friends-search']" (click)="search()">search</mat-icon>
                    </mat-form-field>
                  </form>
            </li>
            <li>
                <a [routerLink]="['/main/trip']">Trip</a>
                <ul>
                    <li><a [routerLink]="['/main/trip']" title="">View List Trips</a></li>
                </ul>
            </li>
        </ul>
        <ul class="setting-area">
            <li>
                <a href="#" title="Notification" data-ripple="">
                    <i class="ti-bell"></i><span>20</span>
                </a>
                <div class="dropdowns">
                    <span>4 New Notifications</span>
                    <ul class="drops-menu">
                        <li>
                            <a [routerLink]="['/main/notifications']" title="">
                                <img src="assets/images/resources/thumb-1.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>sarah Loren</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag green">New</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/notifications']" title="">
                                <img src="assets/images/resources/thumb-2.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Jhon doe</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag red">Reply</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/notifications']" title="">
                                <img src="assets/images/resources/thumb-3.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Andrew</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag blue">Unseen</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/notifications']" title="">
                                <img src="assets/images/resources/thumb-4.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Tom cruse</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/notifications']" title="">
                                <img src="assets/images/resources/thumb-5.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Amy</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                    </ul>
                    <a [routerLink]="['/main/notifications']" title="" class="more-mesg">view more</a>
                </div>
            </li>
            <li>
                <a href="#" title="Messages" data-ripple=""><i class="ti-comment"></i><span>12</span></a>
                <div class="dropdowns">
                    <span>5 New Messages</span>
                    <ul class="drops-menu">
                        <li>
                            <a [routerLink]="['/main/messages']" title="">
                                <img src="assets/images/resources/thumb-1.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>sarah Loren</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag green">New</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/messages']" title="">
                                <img src="assets/images/resources/thumb-2.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Jhon doe</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag red">Reply</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/messages']" title="">
                                <img src="assets/images/resources/thumb-3.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Andrew</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag blue">Unseen</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/messages']" title="">
                                <img src="assets/images/resources/thumb-4.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Tom cruse</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                        <li>
                            <a [routerLink]="['/main/messages']" title="">
                                <img src="assets/images/resources/thumb-5.jpg" alt="">
                                <div class="mesg-meta">
                                    <h6>Amy</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                    </ul>
                    <a [routerLink]="['/main/messages']" title="" class="more-mesg">view more</a>
                </div>
            </li>
            <button mat-button [routerLink]="['/timeline/:', this.appUsers.Id]" (click)="timelineurl.getNavigationMain(this.appUsers.Id)">{{this.appUsers.FirstName}}</button>
        </ul>
        <div class="user-img">
            <img src="{{this.appUsers.Avatar}}" style="width: 35px; height: 35px;" alt="">
            <span class="status f-online"></span>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/main/knowledge']">
                <mat-icon>school</mat-icon>
                <span>Knowledge Base</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/faq']">
                <mat-icon>question_answer</mat-icon>
                <span>Faq's</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/contact']">
              <mat-icon>contact_mail</mat-icon>
              <span>Contact</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/widgets']">
              <mat-icon>widgets</mat-icon>
              <span>Widgets</span>
            </button>
            <button mat-menu-item [routerLink]="['/login']" (click)="onLogout()">
              <mat-icon>forward</mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>
    </div>
</div><!-- topbar -->