
<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a (click)="openNav()" class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a [routerLink]="['/main/home']" title=""><img src="assets/images/logo-login.png" style="width: 90px; height: 50px;" alt=""></a>
        </span>
        <span class="mh-btns-right">
            <a class="fa fa-sliders" href="#shoppingbag"></a>
        </span>
    </div>
    <div class="mh-head second">
        <form class="mh-form">
            <input name="namesearch" type="text" placeholder="Search Something" [(ngModel)]="this.NameSearch">
            <button data-ripple [routerLink]="['/main/friends-search']" (click)="search()"><i class="ti-search"></i></button>
        </form>
    </div>
    <nav id="menu" class="res-menu" >
        <ul>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/home']" title="">Home Social</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/timeline/:', this.appUsers.Id]" (click)="timelineurl.getNavigationMain(this.appUsers.Id)" title="">timeline</a></li>                             
            <li *ngIf="this.res==true"><a [routerLink]="['/main/trip']" title="">View List Trips</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/contact']" title="">contact</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/faq']" title="">faq's page</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/knowledge']" title="">Knowledge base</a></li>
            <li *ngIf="this.res==true"><a [routerLink]="['/main/widgets']" title="">Widgets</a></li>
        </ul>
    </nav>
    <nav id="shoppingbag" *ngIf="this.res==true">
        <div>
            <div class="">
                <form method="post">
                    <div class="setting-row">
                        <span>use night mode</span>
                        <input type="checkbox" id="nightmode"/> 
                        <label for="nightmode" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Notifications</span>
                        <input type="checkbox" id="switch2"/> 
                        <label for="switch2"></label>
                    </div>
                    <div class="setting-row">
                        <span>Notification sound</span>
                        <input type="checkbox" id="switch3"/> 
                        <label for="switch3" ></label>
                    </div>
                    <div class="setting-row">
                        <span>My profile</span>
                        <input type="checkbox" id="switch4"/> 
                        <label for="switch4"></label>
                    </div>
                    <div class="setting-row">
                        <span>Show profile</span>
                        <input type="checkbox" id="switch5"/> 
                        <label for="switch5" ></label>
                    </div>
                </form>
                <h4 class="panel-title">Account Setting</h4>
                <form method="post">
                    <div class="setting-row">
                        <span>Sub users</span>
                        <input type="checkbox" id="switch6" /> 
                        <label for="switch6" ></label>
                    </div>
                    <div class="setting-row">
                        <span>personal account</span>
                        <input type="checkbox" id="switch7" /> 
                        <label for="switch7" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Business account</span>
                        <input type="checkbox" id="switch8" /> 
                        <label for="switch8" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Show me online</span>
                        <input type="checkbox" id="switch9" /> 
                        <label for="switch9" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Delete history</span>
                        <input type="checkbox" id="switch10" /> 
                        <label for="switch10" ></label>
                    </div>
                    <div class="setting-row">
                        <span>Expose author name</span>
                        <input type="checkbox" id="switch11" /> 
                        <label for="switch11" ></label>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div><!-- responsive header -->
<div class="topbar ">
    <div class="logo">
        <a title="" (click)="returnId()" [routerLink]="['/main']"><img src="assets/images/logo.png" style="width: 100px; height: 60px;"alt=""></a>
    </div>
    
    <div class="top-area" >
        <ul class="main-menu">
            <li>
                <form class="example-form" method="post">
                    <mat-form-field class="example-full-width left">
                      <mat-label>Search</mat-label>
                      <input name="namesearch" type="tel" [(ngModel)]="this.NameSearch" matInput placeholder="">
                      <button mat-icon-button matSuffix [routerLink]="['/main/friends-search']" (click)="search()"><mat-icon>search</mat-icon></button>
                    </mat-form-field>
                  </form>
            </li>
            <li>
                <button [routerLink]="['/main/home']" class="rcorners0 left2" style="width: 150px;"mat-stroked-button><mat-icon>home</mat-icon></button>
            </li>
            <li>
                <button [routerLink]="['/main/trip']" class="rcorners0 left2" style="width: 150px;"mat-stroked-button><mat-icon>commute</mat-icon></button>
            </li>
            <li>
                <button [routerLink]="['/main/friends']" class="rcorners0 left2" style="width: 150px;"mat-stroked-button><mat-icon>people</mat-icon></button>
            </li>
            <li>
                <button [routerLink]="['/main/videos']" class="rcorners0 left2" style="width: 150px;"mat-stroked-button> <mat-icon>ondemand_video</mat-icon></button>
            </li>
        </ul>
        <ul class="setting-area">
            <li>
                <button class="rcorners1 bottom" mat-button [routerLink]="['/timeline/:', this.appUsers.Id]" (click)="timelineurl.getNavigationMain(this.appUsers.Id)"><img src="{{this.appUsers.Avatar}}" class="rcorners2" style="width: 30px; height: 30px;" alt=""><strong>{{this.appUsers.FirstName}}</strong></button>
            </li>
            <li>
                <button class="top" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon matBadge="2" matBadgeColor="warn">message</mat-icon>
                  </button>
                <mat-menu #menu="matMenu" class="rcorners0">
                    <button mat-menu-item>
                        <span><strong class="left3">John</strong>Alo thằng kia</span>
                    </button>
                    <button mat-menu-item>
                        <span><strong class="left3">Kiệt</strong>You: hello !</span>
                    </button>
                </mat-menu>
            </li>
            <li>
                <button class="top" mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
                    <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
                </button>
                <mat-menu #menu2="matMenu" class="rcorners0">
                    <button mat-menu-item>
                        <mat-icon>thumb_up_alt</mat-icon>
                        <span><strong>John</strong> just liked your photo</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>people_outline</mat-icon>
                        <span><strong>Sena</strong> agreed to the friend request</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon> insert_comment</mat-icon>
                        <span><strong>Khoi</strong> commented on your post</span>
                    </button>
                  </mat-menu>
            </li>
        </ul>
        <button class="top" mat-icon-button [matMenuTriggerFor]="menu3" aria-label="Example icon-button with a menu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item [routerLink]="['/main/knowledge']">
                <mat-icon>school</mat-icon>
                <span>Knowledge Base</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/faq']">
                <mat-icon>question_answer</mat-icon>
                <span>Faq's</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/contact']">
              <mat-icon>contact_mail</mat-icon>
              <span>Contact</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/widgets']">
                <mat-icon>widgets</mat-icon>
                <span>Widgets</span>
            </button>
            <button mat-menu-item [routerLink]="['/login']" (click)="onLogout()">
              <mat-icon>forward</mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>
    </div>
</div><!-- topbar -->