<div class="responsive-list">
    <p-button class="res-btn" type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars"></p-button>
    <img class="img-logo" src="assets/images/logo.png" style="width: 100px; height: 45px;" [routerLink]="['/main/home']">
    <p-button class="home-button" (click)="visibleSidebar2 = true" type="button" icon="pi pi-cog"></p-button>
</div>
<div class="tab-menu">
    <p-tabMenu class="responsive-menu" [model]="items" [activeItem]="activeItem"></p-tabMenu>
</div>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <br>
    <br>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/groups-search']"><mat-icon class="margin-right:10px;">style</mat-icon><strong>My Page</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/videos']"><mat-icon class="margin-right:10px;">ondemand_video</mat-icon><strong>Videos</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/images']"><mat-icon class="margin-right:10px;">burst_mode</mat-icon><strong>Images</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/friends']"><mat-icon class="margin-right:10px;">people_outline</mat-icon><strong>Friends</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/']"><mat-icon class="margin-right:10px;">history</mat-icon><strong>Activities Log</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/']"><mat-icon class="margin-right:10px;">departure_board</mat-icon><strong>Tour History</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/']"><mat-icon class="margin-right:10px;">card_membership</mat-icon><strong>Advertisement</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar2" position="right" [baseZIndex]="10000">
    <button class="rcorners1 bottom" mat-button [routerLink]="['/timeline/:', this.appUsers.Id]" (click)="timelineurl.getNavigationMain(this.appUsers.Id)"><img src="{{this.appUsers.Avatar}}" class="rcorners2" style="width: 30px; height: 30px;" alt=""><strong>{{this.appUsers.FirstName}}</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/knowledge']"><mat-icon style="margin-right: 10px;">dns</mat-icon><strong>Knowledge</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/faq']"><mat-icon style="margin-right: 11px;">extension</mat-icon><strong>Faq</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/contact']"><mat-icon style="margin-right: 10px;">contact_mail</mat-icon><strong>Contact</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/main/edit-setting']"><mat-icon style="margin-right: 10px;">settings</mat-icon><strong>Settings & Privacy</strong></button>
    <mat-divider style="width:300px;"></mat-divider>
    <button class="btn-res" mat-button [routerLink]="['/login']" (click)="onLogout()"><mat-icon style="margin-right: 10px;">forward</mat-icon><strong>Log Out</strong></button>
</p-sidebar>
<div class="topbar ">
    <div class="logo">
        <a title="" (click)="returnId()" [routerLink]="['/main']"><img src="assets/images/logo.png" style="width: 100px; height: 60px;"alt=""></a>
    </div>
    
    <div class="top-area" >
        <ul class="main-menu">
            <li>
                <form class="example-form" method="post">
                    <mat-form-field class="example-full-width left">
                      <mat-label>Search</mat-label>
                      <input name="namesearch" type="tel" [(ngModel)]="this.NameSearch" matInput placeholder="">
                      <button mat-icon-button matSuffix [routerLink]="['/main/friends-search']" (click)="search()"><mat-icon>search</mat-icon></button>
                    </mat-form-field>
                  </form>
            </li>
            <li>
                <button [routerLink]="['/main/home']" class="rcorners-header left2" style="width: 150px;"mat-stroked-button pTooltip="Home" tooltipPosition="bottom"><mat-icon>home</mat-icon></button>
            </li>
            <li>
                <button [routerLink]="['/main/trip']" class="rcorners-header left2" style="width: 150px;"mat-stroked-button pTooltip="Trips" tooltipPosition="bottom"><mat-icon>commute</mat-icon></button>
            </li>
            <li>
                <button [routerLink]="['/main/friends']" class="rcorners-header left2" style="width: 150px;"mat-stroked-button pTooltip="Friends" tooltipPosition="bottom"><mat-icon>people</mat-icon></button>
            </li>
            <li>
                <button [routerLink]="['/main/videos']" class="rcorners-header left2" style="width: 150px;"mat-stroked-button pTooltip="Watch" tooltipPosition="bottom"><mat-icon>ondemand_video</mat-icon></button>
            </li>
        </ul>
        <ul class="setting-area">
            <li>
                <button class="rcorners1 bottom" mat-button [routerLink]="['/timeline/:', this.appUsers.Id]" (click)="timelineurl.getNavigationMain(this.appUsers.Id)"><img src="{{this.appUsers.Avatar}}" class="rcorners2" style="width: 30px; height: 30px;" alt=""><strong>{{this.appUsers.FirstName}}</strong></button>
            </li>
            <li>
                <button class="top" mat-icon-button [matMenuTriggerFor]="menu" pTooltip="Messages" tooltipPosition="bottom" aria-label="Example icon-button with a menu">
                    <mat-icon matBadge="2" matBadgeColor="warn">message</mat-icon>
                  </button>
                <mat-menu #menu="matMenu" style="width:200px;">
                    <button mat-menu-item>
                        <span><strong class="left3">John</strong>Alo thằng kia</span>
                    </button>
                    <button mat-menu-item>
                        <span><strong class="left3">Kiệt</strong>You: hello !</span>
                    </button>
                </mat-menu>
            </li>
            <li>
                <button class="top" mat-icon-button [matMenuTriggerFor]="menu2" pTooltip="Notifications" tooltipPosition="bottom" aria-label="Example icon-button with a menu">
                    <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon>
                </button>
                <mat-menu #menu2="matMenu" style="width:200px;">
                    <button mat-menu-item>
                        <mat-icon>thumb_up_alt</mat-icon>
                        <span><strong>John</strong> just liked your photo</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>people_outline</mat-icon>
                        <span><strong>Sena</strong> agreed to the friend request</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon> insert_comment</mat-icon>
                        <span><strong>Khoi</strong> commented on your post</span>
                    </button>
                  </mat-menu>
            </li>
        </ul>
        <button class="top" mat-icon-button [matMenuTriggerFor]="menu3" pTooltip="Setting" tooltipPosition="bottom" aria-label="Example icon-button with a menu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item [routerLink]="['/main/knowledge']">
                <mat-icon>school</mat-icon>
                <span>Knowledge Base</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/faq']">
                <mat-icon>question_answer</mat-icon>
                <span>Faq's</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/contact']">
              <mat-icon>contact_mail</mat-icon>
              <span>Contact</span>
            </button>
            <button mat-menu-item [routerLink]="['/main/widgets']">
                <mat-icon>widgets</mat-icon>
                <span>Widgets</span>
            </button>
            <button mat-menu-item [routerLink]="['/login']" (click)="onLogout()">
              <mat-icon>forward</mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>
    </div>
</div><!-- topbar -->