.rcorners2 {
    border-radius: 55px;
    border: 2px solid #8eccf0;
    padding: 1px; 
  }

  .rcorners1 {
    border-radius: 40px;
    border: px solid #8eccf0;
    width: 100px;
    padding: 1px; 
    margin-top: 10px;
  }
  .rcorners0 {
    border-radius: 25px;
    border: 0px solid #8eccf0;
    padding:7px; 
  }
  .rcorners2 {
    border-radius: 15px;
    border: 0px solid #8eccf0;
    padding:2px; 
  }
  .left
  {
      right: 70px;
  }
  .left2
  {
      right: 30px;
      width: 50%;
  }
  .left3
  {
      margin-right: 10px;
  }
  .top
  {
    margin-top: 7px;
  }
  .bottom
  {
    margin-bottom: 8px;
  }
  .responsive-list{
    background-color: #f4f2f2;
  }
  .home-button
  {
    position: absolute;
    right: 0;
  }
  .img-logo
  {
    position: absolute;
    top: 0;
    margin-left: 30%;
  }

  @media screen and (max-width: 361px) {
    .img-logo
    {
      margin-left: 25%;
    }
  }
  @media screen and (max-width: 550px) and (min-width: 500px) {
    .img-logo
    {
      margin-left: 35%;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .img-logo
    {
      margin-left: 40%;
    }
  }
  @media screen and (min-width: 1025px)
  {
    .responsive-menu
    {
      display: none;
    }
    .responsive-list
    {
      display: none;
    }
  }
  @media screen and (max-width: 1025px) and (min-width: 1023px)
  {
    .responsive-menu
    {
      display: none;
    }
  }
  
