<app-header></app-header>
<section>
    <div class="page-header">
        <div class="header-inner">
            <h2>your Searched</h2>
            <nav class="breadcrumb">
              <a [routerLink]="['/newsfeed']" class="breadcrumb-item"><i class="fa fa-home"></i></a>
              <span class="breadcrumb-item active">Peoples</span>
            </nav>
        </div>
    </div>
</section>
    
<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <app-list-navigation></app-list-navigation>
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-6">
                            <div class="central-meta rcorners2 ">
                                <div class="groups">
                                    <span><i class="fa fa-users"></i>Peoples</span>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active fade show " id="frends" >
                                        <ul class="nearby-contct">
                                            <li *ngFor="let user of userList">
                                                <div class="nearly-pepls">
                                                    <figure>
                                                        <a (click)="getNavigation(user.Id)" [routerLink]="['/timeline/:', user.Id]" title=""><img src="{{user.Avatar}}" style="width:60px; height:60px;" alt=""></a>
                                                    </figure>
                                                    <div class="pepl-info">
                                                        <h4><a (click)="getNavigation(user.Id)" [routerLink]="['/timeline/:', user.Id]"title="">{{user.FirstName + " "+user.LastName}}</a></h4>
                                                        <span>{{user.Descriptions}}</span>
                                                        <button mat-raised-button color="primary" class="middle">Add Friend</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    
                                        <button class="btn-view btn-load-more"></button>
                                    </div>	
                                </div>
                            </div><!-- photos -->
                        </div><!-- centerl meta -->
                        <div class="col-lg-3">
                            <aside class="sidebar static">
                                <app-right-sidebar-list-friend></app-right-sidebar-list-friend>		<!-- friends list sidebar -->								
                            </aside>
                        </div><!-- sidebar -->
                    </div>	
                </div>
            </div>
        </div>
    </div>	
</section>
<app-footer></app-footer>