.rcorners2 {
    border-radius: 25px;
    border: 2px solid #898e91;
    padding: 20px; 
  }
  .rcorners1 {
    border-radius: 25px;
    border: 0.1px solid #898e91;
    padding: 20px; 
  }
  .rcorners-box-post {
    border-radius: 25px;
    border: 0px solid #898e91;
    padding:7px; 
    display: inline-block;
    padding-left: 15px;
    position: relative;
    width: 33%;
  }