<app-header></app-header>	
	<section>
		<div class="feature-photo">
			<figure><img src="{{this.appUsers.Background}}" style="width: 1600px; height: 450px;" alt=""></figure>
			<div class="add-btn" *ngIf="this.compareId === false">
				<span>1205 followers</span>
				<a href="#" title="" data-ripple="">Add Friend</a>
			</div>
			<form class="edit-phto" (click)="openDialogBackground()" *ngIf="this.compareId === true">
				<i class="fa fa-camera-retro"></i>
				<label class="fileContainer">
					Edit Cover Photo
				</label>
			</form>
			
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="{{this.appUsers.Avatar}}" style="width: 250px; height: 200px;" alt="" >
								<form class="edit-phto" (click)=openDialog() *ngIf="this.compareId === true">
									<i class="fa fa-camera-retro"></i>
									<label class="fileContainer">
										Edit Display Photo
									</label>
								</form>
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5><strong>{{this.appUsers.FirstName+" "+this.appUsers.LastName}}</strong></h5>
								  <span>My Timeline</span>
								</li>
								<li>
									<a class="active" (click)="timelineurl.getNavigation(this.appUsers.Id)" [routerLink]="['/timeline/:', this.appUsers.Id]" title="" data-ripple="">time line</a>
									<a class="" [routerLink]="['/main/images']" title="" data-ripple="">Photos</a>
									<a class="" [routerLink]="['/main/videos']" title="" data-ripple="">Videos</a>
									<a class="" [routerLink]="['/main/friends']" title="" data-ripple="">Friends</a>
									<a class="" [routerLink]="['/main/groups']" title="" data-ripple="">Groups</a>
									<a class="" [routerLink]="['/main/about']" title="" data-ripple="">about</a>
									<a class="" [routerLink]="['/main/about']" title="" data-ripple="">more</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget rcorners2">
											<h4 class="widget-title">Socials</h4>
											<ul class="socials">
												<li class="facebook">
													<a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> <ins>45 likes</ins></a>
												</li>
												<li class="twitter">
													<a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span><ins>25 likes</ins></a>
												</li>
												<li class="google">
													<a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35 likes</ins></a>
												</li>
											</ul>
									</div>
								
									<div class="widget rcorners2">
										<h4 class="widget-title">Recent Activity</h4>
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													<i>10 hours Ago</i>
													<span><a href="#" title="">Commented on Video posted </a></span>
													<h6>by <a href="newsfeed.html">black demon.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>30 Days Ago</i>
													<span><a href="newsfeed.html" title="">Posted your status. “Hello guys, how are you?”</a></span>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>2 Years Ago</i>
													<span><a href="#" title="">Share a video on her timeline.</a></span>
													<h6>"<a href="newsfeed.html">you are so funny mr.been.</a>"</h6>
												</div>
											</li>
										</ul>
									</div><!-- recent activites -->
									<div class="widget stick-widget rcorners2">
										<h4 class="widget-title">Who's follownig</h4>
										<ul class="followers">
											<li>
												<figure><img src="assets/images/resources/friend-avatar2.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Kelly Bill</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar4.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Issabel</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar6.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Andrew</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar8.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Sophia</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="assets/images/resources/friend-avatar3.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Allen</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
										</ul>
									</div><!-- who's following -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta rcorners2">
									<div class="new-postbox">
										<figure>
											<img src="{{this.appUsers.Avatar}}"
												style="width: 70px; height: 70px;" alt="">
										</figure>
										<div class="newpst-input">
											<form method="post">
												<textarea class=" rcorners1" rows="2" placeholder="What do you think ?" (click)=createpostDialog()></textarea>
											</form>
											<div>
												<button class="rcorners0"mat-stroked-button><mat-icon>videocam</mat-icon>Live</button>
												<button class="rcorners0"mat-stroked-button><mat-icon>image</mat-icon>Images</button>
												<button class="rcorners0"mat-stroked-button><mat-icon>file_copy</mat-icon>File</button>
											</div>
										</div>
									</div>
								</div><!-- add post new box -->
								
								<div class="loadMore">
									<mat-progress-bar *ngIf="this.play === true" mode="indeterminate"></mat-progress-bar>
									<ng-template ngFor let-post [ngForOf]="m_posts" let-i="index">
										<div class="central-meta item rcorners2">
											<app-post (OnReceivePostCommentData)="commentPost($event)" [postData]=post></app-post>
										</div>
									</ng-template>
									<mat-progress-bar *ngIf="this.play === true" mode="indeterminate"></mat-progress-bar>
									<button class="btn-view btn-load-more"></button>
								</div>
							
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<div class="banner medium-opacity bluesh">
											<div style="background-image: url(assets/images/resources/baner-widgetbg.jpg)" class="bg-image"></div>
											<div class="baner-top">
												<span><img src="assets/images/book-icon.png" alt=""></span>
												<i class="fa fa-ellipsis-h"></i>
											</div>
											<div class="banermeta">
												<p>
													create your own favourit page.
												</p>
												<span>like them all</span>
												<a [routerLink]="['/main/newpage']" title="" data-ripple="">start now!</a>
											</div>
										</div>											
									</div>
									<app-right-sidebar-list-friend></app-right-sidebar-list-friend>
									<!-- friends list sidebar -->
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<app-footer></app-footer>