<app-header></app-header>	
	<section>
			<div class="feature-photo">
				<figure><img src="{{this.appUsers.Background}}" style="width: 1600px; height: 450px;" alt=""></figure>
				<div class="add-btn" *ngIf="this.compareId === false">
					<span>1205 followers</span>
					<a href="#" title="" data-ripple="">Add Friend</a>
				</div>
				<form class="edit-phto" (click)="openDialogBackground()" *ngIf="this.compareId === true">
					<i class="fa fa-camera-retro"></i>
					<label class="fileContainer">
						Edit Cover Photo
					</label>
				</form>
				<div class="container-fluid">
					<div class="row merged">
						<div class="col-lg-2 col-sm-3">
							<div class="user-avatar">
								<figure>
									<img src="{{this.appUsers.Avatar}}" style="width: 250px; height: 200px;" alt="">
									<form class="edit-phto" (click)=openDialog() *ngIf="this.compareId === true">
										<i class="fa fa-camera-retro"></i>
										<label class="fileContainer">
											Edit Display Photo
										</label>
									</form>
								</figure>
							</div>
						</div>
						<div class="col-lg-10 col-sm-9">
							<div class="timeline-info">
								<ul>
									<li class="admin-name">
										<h5><strong>{{this.appUsers.FirstName+" "+this.appUsers.LastName}}</strong></h5>
										<span>My Groups</span>
									</li>
									<li>
										<a class="" (click)="timelineurl.getNavigation(this.appUsers.Id)" [routerLink]="['/timeline/:', this.appUsers.Id]" title="" data-ripple="">time line</a>
										<a class="" [routerLink]="['/main/images']" title="" data-ripple="">Photos</a>
										<a class="" [routerLink]="['/main/videos']" title="" data-ripple="">Videos</a>
										<a class="" [routerLink]="['/main/friends']" title="" data-ripple="">Friends</a>
										<a class="active" [routerLink]="['/main/groups']" title="" data-ripple="">Groups</a>
										<a class="" [routerLink]="['/main/about']" title="" data-ripple="">about</a>
										<a class="" href="#" title="" data-ripple="">more</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- top area -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget rcorners2">
										<h4 class="widget-title">Profile intro</h4>
										<ul class="short-profile">
											<li>
												<span>about</span>
												<p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
											</li>
											<li>
												<span>fav tv show</span>
												<p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
											</li>
											<li>
												<span>favourit music</span>
												<p>Hi, i am jhon kates, i am 32 years old and worked as a web developer in microsoft company. </p>
											</li>
										</ul>
									</div><!-- profile intro widget -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta rcorners2">
									<div class="groups">
										<span><i class="fa fa-users"></i> joined Groups</span>
									</div>
									<ul class="nearby-contct">
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group1.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">funparty</a></h4>
													<span>public group</span>
													<em>32k Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group2.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">ABC News</a></h4>
													<span>Private group</span>
													<em>5M Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group3.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">SEO Zone</a></h4>
													<span>Public group</span>
													<em>32k Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group4.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">Max Us</a></h4>
													<span>Public group</span>
													<em> 756 Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group5.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">Banana Group</a></h4>
													<span>Friends Group</span>
													<em>32k Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group6.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">Bad boys n Girls</a></h4>
													<span>Public group</span>
													<em>32k Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group7.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">Bachelor's fun</a></h4>
													<span>Public Group</span>
													<em>500 Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
										<li>
											<div class="nearly-pepls">
												<figure>
													<a href="time-line.html" title=""><img src="assets/images/resources/group4.jpg" alt=""></a>
												</figure>
												<div class="pepl-info">
													<h4><a href="time-line.html" title="">Max Us</a></h4>
													<span>Public group</span>
													<em> 756 Members</em>
													<a href="#" title="" class="add-butn" data-ripple="" *ngIf="this.compareId === true">leave group</a>
												</div>
											</div>
										</li>
									</ul>
									<div class="lodmore"><button class="btn-view btn-load-more"></button></div>
								</div><!-- photos -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<app-right-sidebar-list-friend></app-right-sidebar-list-friend>								
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
<app-footer></app-footer>